body {
  background-color: black;
  color: white;
  font-family: sans-serif;
  text-align: center;
}

#visualizador {
  width: 100%;
  height: 400px;
  background-color: #1a1a1a;
  margin-bottom: 20px;
}

.botoes {
  display: flex;
  justify-content: center;
  gap: 10px;
}

button {
  cursor: pointer;
  padding: 10px;
}